.footer {
    width: 100%;
    background-color: #1c2028;
    // z-index: 2;
    .footer-links {
        // z-index: inherit;
        padding-bottom: 20px;
        margin-bottom: 20px;
        .row {
            border-bottom: 1px solid #323940;
            margin: 0px 200px;
           display: grid;
        //    grid-template-columns: repeat(3, 1fr);
           grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

            gap: 10px;
            .each-column {
                h3 {
                    font-weight: 100;
                    font-size: 18px;
                    color: white;
                }
                
                hr {
                    width: 6%;
                    border: 0;
                    border-top: 1px solid #0055ff;
                    margin-left: 0;
                }
                .row-item {
                    margin: 30px 0px 80px 0px;
                    padding: 0;
                    list-style-type: none;
                    color: #b5b7bb;
                    li {
                        margin-bottom: 15px;
                    }
                }
                .double-columned-row-item {
                    display: grid;
                    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
    .bottom-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 160px 70px 160px;
        color: white;
        .connect-with-us {
            
            span {
                font-weight: 100;
                font-size: 15px;
                margin-right: 20px;
            }
            .icon-item {
                margin-right: 20px;
            }
        }
        h6 {
            font-weight: 100;
            font-size: 12px;
        }
    }
}